.record {
    position:relative;
}

.humanimg {
    display:block;
    margin:auto;
    margin-top:12px;
}

.bigfont {
    font-size:23px;
}


.record-stats {
    position: absolute;
    left: 230px;
    width: 150px;
    top: 105px;
}